html, body{
    height: 100%;
    font-family: 'Wallpoet', cursive;
}

.container{
    background-color: rgb(0, 0, 0);
    height: 48%;
    width: 16%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
    margin-top: 10%;

}

.container > button{
    height: 85px;
    width: 85px;
    border-radius: 25%;
    font-size: 25px;
    font-family: 'Wallpoet', cursive;
    margin-left: 3.2%;

}

.display{
    background-color: 0,0,0;
    color: white;
    width: 23.66rem;
    height: 5rem;
    text-align: right;
    margin-top: 40px;
    font-size: 50px;
    margin-left: 1rem;
}

.clear{
    background-color: orange;
    color: black;
}

.zero{
    flex: .93;
    color: red;
}

.equal{
    font-size: 50px;
}

.divide{
    font-size: 50px;
}